<span class="p_button">Click me!</span>

<style>

  /* Write your CSS here to make the span look like a button. */
.p_button{
  border-radius: 30px;
  background-color: #318CE7;

  width: 10em;
  height: 5ex;
  background-color: gold;
  border: 2px solid firebrick;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.p_button:hover {
  background-color: bisque;
}
</style>
